body{
    background-color: #fbd139;
    font-size: 30px;
    color: black;
    font-family: cursive;
}

h1{
    color: rgb(38, 0, 255);
    background-color: cornsilk;
    background-size: cover;
}

body{
    color:white;
}

#score{
    float: left;
}

#timer{
    float: right;
}

#drawn{
    color: red;
    font-weight: bold;
}

#yoursketch{
    color: black;
}

#confidence{
    color: black;
}

#score{
    color: blue;
}

#timer{
    color: blue;
}

#show_sketch{
    float: right;
    padding-bottom: 11px;
    text-align: center;
    font-size: 15px;
}

canvas{
    margin-top: 25.50px;
    border: 5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {box-shadow: 1px 1px 38px whitesmoke;}
    to {box-shadow: 1px 1px 38px white;}
}

#clear{
    border-bottom: 100px;
}

#header{
    padding-left: 100px;
}